{% extends 'base.html' %}

{% block title %}
CART
{% endblock %}

{% block content %}

<div class="container my-5 min-vh-100">
    <h1>Your shopping cart.</h1>

    {%if products%}
    <div class="d-flex container flex-wrap p-0">
        {% for i in products%}
            {% with product_card=i %}
                {% include "components/cartproduct.html" %}
            {% endwith %}
        {% endfor %}
    </div>
    <div class="container my-3">
        <h2>Total: A lot of money.</h2>
        <a href="{{url_for('makeorder', orders=orders)}}" class="btn btn-warning">Order</a>
    </div>
    {% else %}
        <h3>You have no products in the cart yet. <a href="{{url_for('home')}}">Look for products.</a></h3>
        
    {% endif %}
</div>
{% endblock %}