{% extends 'base.html' %}

{% block title %}
MACBOOK
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/productpage.css')}}">
{% endblock %}

{% block content %}

{% include 'components/categories.html' %}

<div class="super_container">
    <div class="single_product p-5">
        <div class="container-fluid" style=" background-color: #fff;">
            <div class="row">
                <div class="col-lg-4 order-lg-2 order-1">
                    <div class="image_selected"><img src="{{product['Media']}}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-3">
                    <div class="product_description">
                        <div class="product_name">{{ product['Name'] }}</div>
                        <div class="product-rating"><span class="badge badge-success">
                                {% for i in range(product['Stars']) %}
                                <i class="fa fa-star" style="font: normal normal normal 20px/1 FontAwesome;"></i>
                                {% endfor %}
                                <span class="rating-review">Demand: {{ product['Demand'] }}</span></div>
                        <div> <span class="product_price">{{ product['Price'] }}</span>
                            <strike class="product_discount"> <span style='color:black'>2.000kzt<span> </strike>
                        </div>
                        <div> <span class="product_saved">You Saved:</span> <span style='color:black'>2.000kzt<span>
                        </div>
                        <hr class="singleline">
                        <div>
                            <span class="product_info">Warranty: 6 months warranty<span><br>
                                    <span class="product_info">7 Days easy return policy<span><br>
                                            <span class="product_info">7 Days easy return policy<span><br>
                                                    <span class="product_info">In Stock: 25 units sold this week<span>

                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="br-dashed">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-3"> <img
                                                    src="https://img.icons8.com/color/48/000000/price-tag.png"> </div>
                                            <div class="col-md-9 col-xs-9">
                                                <div class="pr-info"> <span class="break-all">Get 5% instant discount +
                                                        10X rewards @BESTPROJECT</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="singleline">
                    </div>
                    <div class="col-xs-6">
                        <a href="{{url_for('add_cart', pid=product['Product id'])}}" class="btn btn-primary shop-button">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-underline">
        <div class="col-md-6"> <span class=" deal-text px-5">Specifications</span> </div>
    </div>
    <div class="row px-5 pb-5 w-sm-100 w-md-75 w-lg-75 w-xl-75">
        {% for spec in product['Characteristics'] %}
        <h5 class="col-5">{{spec | title}}: </h5>
        {% if spec=="category" %}
        <h5 class="col-7">{{product['Category']}}</h5>
        {% else %}
        <h5 class="col-7">{{product['Characteristics'][spec]}}</h5>
        {% endif %}
        <hr>
        {% endfor %}
    </div>
    <div class="row row-underline">
        <div class="col-md-6"> <span class=" deal-text px-5">Reviews (does not function)</span> </div>
    </div>
    <div class="row px-5 pb-5 w-sm-100 w-md-75 w-lg-75 w-xl-75">
        {% for review in product['Reviews'] %}
        <div class="row text-center">
            <div class="col-md-4 mb-5 mb-md-0">
                <div class="d-flex justify-content-center mb-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                        class="rounded-circle shadow-1-strong" width="150" height="150" />
                </div>
                <h4 class="mb-3"><strong>{{ review['author']['name'] | title}}</strong></h4>
                <h6 class="mb-3"><strong>Delivered:</strong> {{ review['author']['location'] | title}}</h6>
                <p class="px-xl-3">
                    <i class="bi bi-quote pe-2"></i>Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic
                    tenetur.
                </p>
                <ul class="list-unstyled d-flex justify-content-center mb-0">
                    <li>
                        {% for i in range(review['stars'] | int) %}
                        <i class="bi bi-star-fill text-warning"></i>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}