{% extends 'base.html' %}

{% block title %}
JOHN
{% endblock %}

{% block content %}
<div class="container-fluid bg-light">
    <div class="row flex-nowrap">
        <!-- SIDEBAR -->
        <div class="sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" onclick="home()" class="nav-link align-middle px-0">
                            <i class="fs-3 bi-house"></i> <span class="ms-1 d-none d-sm-inline ">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" onclick="profile()" data-bs-toggle="collapse"
                            class="nav-link px-0 align-middle">
                            <i class="fs-3 bi-person-lines-fill"></i> <span
                                class="ms-1 d-none d-sm-inline rightbar">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="delivery()" class="nav-link px-0 align-middle">
                            <i class="fs-3 bi-truck"></i> <span class="ms-1 d-none d-sm-inline">Delivery
                                address</span></a>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-3 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li>
                                <a href="{{url_for('topsales')}}" class="nav-link px-0"> <span
                                        class="d-none d-sm-inline">Top 25</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">All
                                        Products</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{url_for('aboutus')}}" class="nav-link px-0 align-middle">
                            <i class="fs-3 bi-people"></i> <span class="ms-1 d-none d-sm-inline">About us</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="{{url_for('logout')}}" class="d-flex align-items-center text-white text-decoration-none">
                        <i class="fs-3 bi-box-arrow-right"></i>
                        <span class="d-none d-sm-inline mx-1">Logout</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="col py-3 w-100">
            <div class="content-home ">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="list-unstyled text-danger">
                    {% for message in messages %}
                    <li>
                        <h5><strong>{{ message }}</strong></h5>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <h3>Welcome <span class="text-warning">{{user.name | title}}</span>!</h3>
                <p class="lead">
                    We are delighted to have you join our community. Whether you're a new user or returning, we're
                    excited
                    to embark on this journey with you. At [Your Platform/Service Name], we strive to create an
                    environment
                    that fosters creativity, learning, and connection.
                    <hr>
                    Here's what you can expect:
                </p>
                <ul class="list-unstyled gap-3 d-flex flex-column">
                    <li>
                        <h5>Explore and Discover:</h5>
                        Dive into a world of possibilities! Navigate through our user-friendly interface to discover the
                        features and services we offer. From [Key Feature 1] to [Key Feature 2], we have designed [Your
                        Platform/Service Name] with you in mind.
                    </li>
                    <li>
                        <h5>Connect and Engage:</h5>
                        Connect with like-minded individuals and make new friends. Join discussions, share your
                        thoughts,
                        and engage with the community. [Your Platform/Service Name] is not just a platform; it's a space
                        for
                        collaboration and meaningful connections.
                    </li>
                    <li>
                        <h5>Learn and Grow:</h5>
                        Whether you're here for entertainment, education, or personal development, [Your
                        Platform/Service
                        Name] has resources to help you learn and grow. Take advantage of [Feature 1], [Feature 2], and
                        more
                        to enhance your experience.
                    </li>
                    <li>
                        <h5>Stay Informed:</h5>
                        We value transparency and want to keep you in the loop. Stay updated on the latest news,
                        updates,
                        and announcements from [Your Platform/Service Name]. We believe in keeping our community
                        informed
                        and involved.
                    </li>
                    <li>
                        <h5>Customer Support:</h5>
                        Have questions or need assistance? Our dedicated support team is here to help. Reach out to us
                        through [Contact Method] for prompt and friendly assistance.
                    </li>
                </ul>
                <hr>
                <p class="lead">
                    Thank you for choosing [Your Platform/Service Name]. Your presence enriches our community, and we
                    look
                    forward to seeing the amazing contributions and experiences you'll bring to [Your Platform/Service
                    Name].
                </p>
            </div>
            <div class="content-profile ">
                <section>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <img src="https://e7.pngegg.com/pngimages/848/196/png-clipart-business-google-account-organization-service-avatar-angle-heroes.png"
                                        alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                    <h5 class="my-3">{{ user.name }}</h5>
                                    <p class="text-muted mb-1">Here is your personal page.</p>
                                    <p class="text-muted mb-4">You can edit data anytime you want.</p>
                                </div>
                            </div>
                            <div class="card p-5">
                                <h5>Payment details</h5>
                                <div class="credit rounded mt-4 d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-row align-items-center">
                                        <i class="fs-3 bi-credit-card me-3"></i>
                                        <div class="d-flex flex-column ml-3">
                                            <h6 class="business">Credit Card</h6>
                                            <h6 class="plan">1234 XXXX XXXX 2570</h6>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="#"><i class="fs-3 bi-trash"></i></a>
                                    </div>
                                </div>
                                <a href="#" class="mt-4 text-decoration-none text-primary">ADD PAYMENT METHOD</a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card h-100 mb-4">
                                <div class="card-body">
                                    <form method="post">
                                        {{ profile_form.hidden_tag() }}
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="m-auto">{{ profile_form.fullname.label }}</p>
                                            </div>
                                            <div class="col-sm-5">
                                                {{ profile_form.fullname(size=128, value=user.name,
                                                class="form-control") }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">{{ profile_form.email.label }}</p>
                                            </div>
                                            <div class="col-sm-5">
                                                {{ profile_form.email(size=128, value=user.email, class="form-control")
                                                }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">{{ profile_form.phone.label }}</p>
                                            </div>
                                            <div class="col-sm-5">
                                                {{ profile_form.phone(size=20, value=user.phone, class="form-control",
                                                id="#tel", minlength=12, maxlength=12)
                                                }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">{{ profile_form.address.label }}</p>
                                            </div>
                                            <div class="col-sm-5">
                                                {{ profile_form.address(size=128, value=user.address,
                                                class="form-control") }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Last order:</p>
                                            </div>
                                            <div class="col-sm-5">
                                                <p class="text-muted mb-0">{{ user.orders }}</p>
                                            </div>
                                        </div>
                                        {{ profile_form.submit(class="btn btn-warning") }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="content-delivery w-50">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-xl-6">
                                    <div class="card-body p-md-5 text-black">
                                        <h4 class="mb-4 text-uppercase">Delivery Info</h4>
                                        <form method="post">
                                            {{ delivery_form.hidden_tag() }}
                                            <div class="row">
                                                <div class="form-outline mb-4">
                                                    {{ delivery_form.address.label }}
                                                    {{ delivery_form.address(class="form-control") }}
                                                </div>
                                                <div class="form-outline mb-4">
                                                    {{ delivery_form.pcode.label }}
                                                    {{ delivery_form.pcode(class="form-control") }}
                                                </div>
                                                <div class="d-flex justify-content-end pt-3">
                                                    {{ delivery_form.submit(class="btn btn-warning") }}
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/userpage.js')}}"></script>
{% endblock %}