.strike {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 10px;
    font-weight: bolder;
}

.strike>span {
    position: relative;
    display: inline-block;
}

.strike>span:before,
.strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 3px;
    background: #ffc107;
}

.strike>span:before {
    right: 100%;
    margin-right: 15px;
}

.strike>span:after {
    left: 100%;
    margin-left: 15px;
}

.social-media a{
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #ffc107;
}

.social-media i {
    color: white;
    font-size: 24px;
}