/* BASIC */
a:hover {
  opacity: 0.8;
}

.fa {
  display: inline-block;
  color: #ffc107;
  border-radius: 5px;
}

/* BANNER */
.banner {
  background-color: #ffc107;
  width: 100%;
  padding: 25px;
}

.btn {
  padding: 0.5em 1.5em;
  border-radius: 2em;
  box-shadow: 5px 5px 5px rgba(105, 73, 73, 0.15);
}

@media screen and (max-width: 567px) {
  .banner {
    text-align: center;
  }
}

.banner img {
  width: 200px;
  height: 200px;
}

/* CATEGORIES */
.dropdown-hover:hover>.dropdown-menu {
  display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}


.btn-warning {

  height: 48px;
  font-size: 18px;
}

/* SIDEBAR */
.sidebar i, span {
  color: #e9ab01;
  font-weight: bolder;
  transition: all .3s ease;
}

.sidebar a{
  padding: 5px;
}

.sidebar a:hover i, .sidebar a:hover span{
  color: blue;
}

/* Products */
.productcard {
  width: 300px;
}

.productcard img {
  max-width: 200px;
  max-height: 150px;
  object-fit: contain;
}

/* Flash removing */
.getover {
  animation: hideFlash 4s forwards;
}

@keyframes hideFlash {
  to {
    opacity: 0;
    display: none;
  }
}