<div class="d-flex m-2">

    <div class="card p-3 productcard">
        <div class="mt-2 d-flex flex-column h-100">
            <div class="d-flex align-items-end justify-content-between">
                <img class="card-img-top" src="{{ product_card['Media'] }}">
            </div>
            <div class="d-flex h-100 my-1">
                <div class="align-self-end w-100">
                    <div class="d-flex">
                        <h6>{{ product_card['Characteristics']['brand name'] }}</h6> - <h6>{{ product_card['Category']}}</h6>
                    </div>
                    <a href="{{url_for('productpage', p_id=product_card['Product id'])}}">
                        <h5>{{ product_card['Name'] }}</h5>
                    </a>
                    <div class="d-flex flex-row user-ratings gap-3">
                        <div>
                            {% for i in range(product_card['Stars']) %}
                            <i class="fa fa-star" style="font: normal normal normal 20px/1 FontAwesome;"></i>
                            {% endfor %}
                        </div>
                        <h6 class="text-muted ml-1">{{ product_card['Stars'] }}/5</h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-between w-100">   
                        <span style="font-size: 18px;">{{ product_card['Price'] }}</span>
                        <a href="{{url_for('del_from_cart', pid=product_card['Product id'])}}"><i class="fs-3 bi-trash text-warning"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>