<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler px-0" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarExampleOnHover" aria-controls="navbarExampleOnHover" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarExampleOnHover">
                <!-- Left links -->
                <ul class="navbar-nav me-auto ps-lg-0">
                    <!-- Navbar dropdown -->
                    <li class="nav-item dropdown dropdown-hover position-static">
                        <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            <u>Categories</u>
                        </a>
                        <!-- Dropdown menu -->
                        <div class="dropdown-menu w-100 mt-0" aria-labelledby="navbarDropdown" style="border-top-left-radius: 0;
                              border-top-right-radius: 0;
                            ">

                            <div class="container">
                                <div class="row my-3">
                                    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                                        <div class="list-group list-group-flush">
                                            <h5 class="list-group-item">Electronic</h5>
                                            <a href="" class="list-group-item list-group-item-action">Mobile Phone</a>
                                            <a href="" class="list-group-item list-group-item-action">Laptop</a>
                                            <a href="" class="list-group-item list-group-item-action">Accessorie</a>
                                            <a href="" class="list-group-item list-group-item-action">Tablet</a>
                                            <a href="" class="list-group-item list-group-item-action">Storage device</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                                        <div class="list-group list-group-flush">
                                            <h5 class="list-group-item">Electronic</h5>
                                            <a href="" class="list-group-item list-group-item-action">Camera</a>
                                            <a href="" class="list-group-item list-group-item-action">Microphone</a>
                                            <a href="" class="list-group-item list-group-item-action">Game</a>
                                            <a href="" class="list-group-item list-group-item-action">Drone</a>
                                            <a href="" class="list-group-item list-group-item-action">3D Printing</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                                        <div class="list-group list-group-flush">
                                            <h5 class="list-group-item">Electronic</h5>
                                            <a href="" class="list-group-item list-group-item-action">Cleaning Applience</a>
                                            <a href="" class="list-group-item list-group-item-action">Household Applience</a>
                                            <a href="" class="list-group-item list-group-item-action">Built-in Applience</a>
                                            <a href="" class="list-group-item list-group-item-action">Tools</a>
                                            <a href="" class="list-group-item list-group-item-action">Smart Home</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="list-group list-group-flush">
                                            <h5 class="list-group-item">Electronic</h5>
                                            <a href="" class="list-group-item list-group-item-action">Office Furniture</a>
                                            <a href="" class="list-group-item list-group-item-action">Home Furniture</a>
                                            <a href="" class="list-group-item list-group-item-action">Outdoor Furniture</a>
                                            <a href="" class="list-group-item list-group-item-action">Commercial Furniture</a>
                                            <a href="" class="list-group-item list-group-item-action">Euromebel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
</div>